@import "stylenull.scss";


body{
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 16px;
    background-color: #222222;
    color: #fff;
}

.header{
    height: 75px;
    width: 1170px;
    margin: 82px auto;
    margin-bottom: 35px;
    padding: 0 20px;
    background-color: #26272C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    .logo{
        display: block;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
    }

    &__menu{
        margin-left: 150px;
    }
    &__list{
        display: flex;
        align-items: center;
    }
}

.search-input{
    width: 200px;
    height: 22px;
    font-size: 20px;
    background-color: #3f3f41;
    color: #fff;
    //display: none;
}
.like-icon, .comment-icon, .search-icon{
    width: 20px;
    height: 20px;
}

.comment-icon, .like-icon{
    margin-right: 5px;
}

.login-icon{
    width: 25px;
    height: 25px;
}



.navigator{
    height: 100%;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
}

.menu{
    height: 100%;
    display: flex;
    align-items: center;
    &__item{
        margin: 0 7px;
        height: 100%;
    }
    &__link{
        display: flex;
        color: #fff;
        height: 100%;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: #3f3f41;
        }
    }
}

.wraper{
    margin: 0 auto;
    width: 850px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.category-navigator{
    height: 50px;
    background-color: #26272C;
    border-radius: 10px;

    &__menu{
        margin: 0 5px;
        display: flex;
        justify-content: space-between;
        flex: auto;
        .menu__item{
            margin: 0;
        }
    }
}

.post{
    margin-top: 48px;
    margin-bottom: 35px;
    background-color: #26272C;
    border-radius: 10px;
    padding: 10px 0;

    &__title{
        display: block;
        margin: 0 12px;
        margin-bottom: 18px;
        font-size: 30px;
        color: #fff;
    }
    &__main-img{
        margin-bottom: 18px;
        width: 850px;
        height: 478px;
        object-fit: cover;
    }

    &__short-description{
        margin: 0 12px;
        margin-bottom: 18px;
    }

    &__content{
        margin: 0 12px;
        margin-bottom: 18px;
        padding: 0 15px;
        a{
            color: cornflowerblue;
        }
    }

    &__statistics{
        display: flex;
        justify-content: space-between;
    }

    &__ER{
        display: flex;
    }

    &__like, &__comment{
        display: flex;
        margin: 0 12px;
    }

    &__date{
        margin-left: 12px;
    }
}

.comments{
    background-color: #26272C;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;

    &__text{
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    
    &__textarea{
        margin-bottom: 15px;
        background-color: #3f3f41;
        display: block;
        padding: 10px;
        width: 100%;
        height: 80px;
        border-radius: 10px;
        resize: none;
        color: #fff;
        font-size: 16px;
    }

    &__btn{
        
    }
}

.btn{
    width: 80px;
        height: 30px;
        color: #fff;
        background-color: #3f3f41;
        font-size: 15px;
        border-radius: 5px;
}

.paginate-link{
    color: #fff;
    display: block;
    border: 1px #fff solid;
    padding: 2px;
    margin: 4px;
}
.paginate{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.create-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title, &__shortDescription{
        margin-bottom: 15px;
        background-color: #3f3f41;
        display: block;
        padding: 10px;
        width: 100%;
        height: 120px;
        border-radius: 10px;
        resize: none;
        color: #fff;
        font-size: 30px;
    }
    &__shortDescription{
        font-size: 16px;
    }
    &__btn{
    }
}

