{%extends 'articles/default.html'%}
{%block content%}
{% load static %}


<div class="wraper">

    <div class="post">
        <h2 class="post__title">{{article.title}}</h2>
        <img src="{{article.preview.url}}" alt="" class="post__main-img">
        <div class="post__content">
            {{article.content|safe}}
        </div>
        <div class="post__statistics">
            <p class="post__date">{{article.create_at}} </p>
            {% if user.is_authenticated and user == article.user%}
            <div>
                <a class="update-link" href="article_update/{{article.pk}}">Редактировать</a>
                <a class="update-link" href="article_delete/{{article.pk}}">Удалить</a>
            </div>
            {% endif %}
            <div class="post__ER">
                <div class="post__like">
                    <a href="?likeArticle={{article.pk}}"><img src=" {% static 'articles/icons/like.svg' %}" alt=""
                            class="like-icon"></a>
                    <p class="like-count">{{article.rating}}</p>
                </div>
                <div class="post__comment">
                    <img src="{% static 'articles/icons/comment.svg'%}" alt="" class="comment-icon">
                    <p class="comment-count">{{article.commentsCount}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="comments">
        {%if page_obj%}
        {%for comment in page_obj%}
        {%if article.user == user%}
        <div class="comments__item">

            {%if comment.user == user%}
            <p class="comments__text-self">
                {{comment.text}}
            </p>
            {%else%}
            <p class="comments__text">
                {{comment.text}}
            </p>
            {%endif%}


            <div class="comments__btn-container">
                {%if comment.status == 'expects' %}
                <a class="comments__btn" href="?accept={{comment.id}}">Принять</a>
                <a class="comments__btn" href="?reject={{comment.id}}">Отклонить</a>
                <a class="comments__btn" href="?delete={{comment.id}}">удалить</a>
                <p class="comments__{{comment.status}}">{{comment.status}}</p>
                {%endif%}

                {%if comment.status == 'rejected' %}
                <a class="comments__btn" href="?accept={{comment.id}}">Принять</a>
                <a class="comments__btn" href="?delete={{comment.id}}">удалить</a>
                <p class="comments__{{comment.status}}">{{comment.status}}</p>
                {%endif%}

                {%if comment.status == 'accepted' %}
                <a class="comments__btn" href="?reject={{comment.id}}">Отклонить</a>
                <a class="comments__btn" href="?delete={{comment.id}}">удалить</a>
                <p class="comments__{{comment.status}}">{{comment.status}}</p>
                {%endif%}
            </div>
        </div>
        {%else%}

        {%if comment.user == user%}
        <div class="comments__item">
            <p class="comments__text-self">
                {{comment.text}}
            </p>
            <div class="comments__btn-container">
                <a class="comments__btn" href="?delete={{comment.id}}">удалить</a>
                <p class="comments__{{comment.status}}">{{comment.status}}</p>
            </div>
        </div>
        {%elif comment.status == 'accepted'%}
        <div class="comments__item">
            <p class="comments__text">
                {{comment.text}}
            </p>
        </div>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}




        {% if page_obj and page_obj.paginator.num_pages > 1 %}
        <div class="paginate">
            <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
            {% if page_obj.has_previous %}
            <a class="paginate-link" href="?page=1">First</a>
            <a class="paginate-link" href="?page={{ page_obj.previous_page_number }}">
                <<< </a>
                    {% endif %}

                    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
                    {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <a class="paginate-link">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="paginate-link"
                        href="?page={{ num }}">
                        {{num}}
            </a>
            {% endif %}
            {% endfor %}

            <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
            {% if page_obj.has_next %}
            <a class="paginate-link" href="?page={{ page_obj.next_page_number }}">>>></a>
            <a class="paginate-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>
        {% endif %}


        {%if is_authenticated%}
        <form method="POST">
            {% csrf_token %}

            <textarea class="comments__textarea" name="comment_text"></textarea>
            <input class="comments__btn btn" type="submit" value="Отправить">
        </form>
        {%endif%}
    </div>


</div>
{%endblock content%}