{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'articles/css/style.css' %}">


    <title>{%block title%}{%endblock title%}</title>
</head>

<body>
    <header class="header">

        <a class="logo" href="/">GAY CLUB</a>

        <nav class="header__navigator navigator">
            <ul class="header__menu menu">
                <li class="menu__item"><a class="menu__link" href="#">{{user.username}}</a></li>
                <li class="menu__item"><a class="menu__link" href="/create">Создать статью</a></li>
                <li class="menu__item"><a class="menu__link" href="/my_articles">Мои статьи</a></li>
                <li class="menu__item"><a class="menu__link" href="#">Menu link</a></li>
            </ul>
            <ul class="header__list">

                <form method="GET" action="{% url 'articleList' %}">
                    <li class="menu__item"> <button class="search-btn" type="submit"><img class="search-icon"
                                src="{% static 'articles/icons/search.svg' %}" alt=""></button>
                        <input class="search-input" type="text" name="search">

                    </li>

                </form>

                <li class="menu__item">
                    {% if not is_authenticated %}
                    <a href="/login">
                        <img src="{% static 'articles/icons/login.svg'%}" alt="" class="login-icon">

                    </a>
                    {%else%}
                    <a href="/logout">
                        <img src="{% static 'articles/icons/login.svg'%}" alt="" class="login-icon">
                    </a>

                    {%endif%}
                </li>
            </ul>
        </nav>
    </header>

    {%block content%}
    {%endblock content%}
</body>

</html>