{%extends 'articles/default.html'%}
{% load static %}

{%block content%}
<div class="wraper">
    {%if page_obj%}
    {%for article in page_obj%}
    <div class="post">
        <a class="post__title" href="article/{{article.id}}">{{article.title}}</a>
        <img src="{{article.preview.url}}" alt="" class="post__main-img">
        <p class="post__short-description">{{article.shortDescription}}</p>
        <div class="post__statistics">
            <p class="post__date">{{article.create_at}} </p>
            {% if is_authenticated %}
            <div>
                <a class="update-link" href="article_update/{{article.pk}}">Редактировать</a>
            </div>
            {% endif %}
            <div class="post__ER">
                <div class="post__like">
                    <img src="{% static 'articles/icons/like.svg'%}" alt="" class="like-icon">
                    <p class="like-count">{{article.rating}}</p>
                </div>
                <div class="post__comment">
                    <img src="{% static 'articles/icons/comment.svg'%}" alt="" class="comment-icon">
                    <p class="comment-count">{{article.commentsCount}}</p>
                </div>
            </div>
        </div>
    </div>


    {%endfor%}
    {%else%}
    <p class='post__title'>Нет статей</p>
    {%endif%}




    <!-- Проверяем что поддерживается постраничный вывод -->
    {% if page_obj and page_obj.paginator.num_pages > 1 %}
    <div class="paginate">
        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
        <a class="paginate-link" href="?page=1{%if getName%}&{{getName}}={{getValue}}{%endif%}">First</a>
        <a class="paginate-link"
            href="?page={{ page_obj.previous_page_number }}{%if getName%}&{{getName}}={{getValue}}{%endif%}">
            <<< </a>
                {% endif %}

                <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="paginate-link">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="paginate-link"
                    href="?page={{ num }}{%if getName%}&{{getName}}={{getValue}}{%endif%}">
                    {{num}}
        </a>
        {% endif %}
        {% endfor %}

        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
        <a class="paginate-link"
            href="?page={{ page_obj.next_page_number }}{%if getName%}&{{getName}}={{getValue}}{%endif%}">>>></a>
        <a class="paginate-link"
            href="?page={{ page_obj.paginator.num_pages }}{%if getName%}&{{getName}}={{getValue}}{%endif%}">Last</a>
        {% endif %}
    </div>
    {% endif %}

</div>

{%endblock content%}